@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #0083F4;
    --cor1: #08308F;
    --cor2: #37505da6;
    --cor3: #224AF5;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-image: url(/imagens/nuvem10.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

#logo {
    width: 400px;
    margin-left: 20px;
}

input[type=button] {
    padding: 10px 20px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}

input[type=text] {
    padding: 3px;
}

.buttons {
    margin-right: 30px;
}

.bot1 {
    background-color: white;
    color: black;
}

.bot2 {
    background-color: #08308F;
    color: white;
}

.bot1:hover {
    transition-duration: .4s;
    box-shadow: 0px 0px 3px black;
    transform: scale(1.2);
    
}

.bot2:hover {
    transition-duration: .4s;
    box-shadow: 0px 0px 3px black;
    transform: scale(1.2);
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1e8fffaf;
}

.links > .menu {
    text-decoration: none;
    padding: 5px;
    margin-left: 35px;
    color: #FFFFFF;
}

.menu:hover::before {
    content: '✈';
    margin: 5px;
}

.caixa-pesquisa {
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    margin-right: 5px;
    display: none;
}

#box {
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.box-container2 {
    display: flex;
}

.photo-porta-voz {
    margin: 10px 10px;
    transition: 0.5s;
}

.photo-porta-voz:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.photo-jetZero {
    margin-right: 550px;
    margin-top: 30px;
    transition: 0.5s;
    float: right;
}

.photo-jetZero:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.title-div-1 {
    margin: 0px 0px 10px 10px;
    font-variant: small-caps;
    font-size: 17pt;
}

.title-div-1:hover {
    color: #3787F4;
    cursor: pointer;
}

.title-div-2 {
    font-size: 15pt;
}

.title-div-2:hover {
    color: #3787F4;
    cursor: pointer;
}

.paragraph-container1 {
    color: #224AF5;
    font-size: 12pt;
    margin-left: 10px;
}

.paragraph-container3 {
    margin-left: 10px;
    text-align: justify;
    font-size: 9.5pt;
}

.paragraph-container4 {
    text-align: justify;
    font-size: 8pt;
}

.detalhe {
    background-color: #37505da6;
    width: 1px;
}





