@charset "UTF-8";
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #f7f7f7;
}

*{

}

#cabecalho {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   margin-top: 15px;
}

.principal {
    font: italic bolder 2em Arial;
}

#search {
    margin-left: 250px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

nav > a {
    text-decoration: none;
    padding: 5px 40px;
    background: #ffffff;
    border-radius: 4px;
    color: #00BFFF;
}

.logo {
    width: 300px;
}

footer {
    background: black;
    width: 100%;
    height: 200px;
}